<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('partials/head') %>
  <title>NodeBin: Bin <%= bin.id %></title>
</head>

<body class="leading-normal" data-bin-id="<%= bin.id %>">
  <%- include('partials/header') %>

  <div class="container mx-auto page-content-body p-6" id="app">
    <div class="flex items-center mb-4">
      <h1>Bin <%= bin.id %></h1>
      <div class="ml-auto flex items-center">
        <!-- <label class="flex items-center">
          <input type="checkbox" id="liveupdate" class="mr-2" checked />
          <span class="text-s">Live Update</span>
        </label> -->
        <button id="copy-btn" class="btn ml-6">📋 Copy Request URL</button>
        </div>
    </div>

    <p class="text-sm text-gray-600">Try one of these and refresh to see the results:</p>
    <pre class="mb-6 text-sm">curl -H 'X-Status: Awesome' https://<%= host %>/<%= bin.id %>
wget https://<%= host %>/<%= bin.id %>?hello=world
echo "hello=world" | POST https://<%= host %>/<%= bin.id %></pre>

    <div id="waiting" class="flex flex-row items-center justify-center text-grey mb-8 mt-8">
      <div class="lds-ripple mr-2">
        <div></div>
        <div></div>
      </div>
      <span>Waiting for requests.</span>
    </div>

    <div id="requests" class="mt-6"></div>

  </div>

  <%- include('partials/footer') %>
  <script src="/js/bin.js"></script>
</body>

</html>